@import url('https://fonts.googleapis.com/css2?family:Poppins:wght@500&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #172E53;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#active {
    background-color: rgba(37, 64, 108, 0.5);
}

.navbar {
    background: linear-gradient(90deg, #172E53 -0.84%, rgba(37, 64, 107, 0.85) 73.11%, rgba(37, 64, 108, 0.84) 111.98%, rgba(49, 80, 128, 0.71) 111.99%, rgba(82, 122, 185, 0.35) 112%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 1;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

.navbar li {
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.user-icon {
    background: transparent;
    border: none;
    padding: 0;
    margin: 5px 20px 5px 0;
    cursor: pointer;
}

.user-icon i {
    color: rgb(232, 242, 246);
    font-size: 30px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.search-bar {
    display: flex;
    background-color: #F1F1F1;
    border-radius: 25px;
    padding: 5px;
}

.search-input {
    border: none;
    padding: 5px 10px;
    text-align: left;
    border-radius: 25px 0 0 25px;
    width: 80%;
    background-color: #F1F1F1;
}

.search-button {
    background: #F1F1F1;
    border: none;
    padding: 5px 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.container {
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.image-container {
    position: fixed;
    top: 90px;
    right: 0;
    z-index: -1;
}

.background-image {
    opacity: 0.2;
    max-width: 650px;
    height: auto;
}

.navigation-menu {
    background: rgb(82, 122, 185);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #fff;
    padding: 10px 40px;
    width: 15.6%;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
}

.navigation-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 100%;
    padding: 0;
}

.navigation-menu li {
    padding: 5px 10px;
}

.navigation-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}

.centered-box {
    position: fixed;
    top: 57%;
    right: 10%;
    left: 60.3%;
    height: 85%;
    width: 75%;
    transform: translate(-50%, -50%);
    background: rgba(82, 122, 185, 0.2);
    padding: 30px;
    text-align: left;
    margin: 0;
}

.user-dropdown {
    position: relative;
}

.user-profile {
    z-index: 2;
    display: none;
    position: fixed;
    grid-area: user-profile;
    top: 0;
    float: right;
    right: 0px;
    transition: all 2s;
    width: 250px;
    height: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: enter 1s;
    animation-timing-function: ease;
}

@keyframes enter {
    from {right: -250px;}
    to {right: 0;}
}

.user-profile ul {
    display: block;
}

.user-profile li {
    display: flex;
    color: black;
}

.profile-pic {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic .picture {
    display: flex;
    position: relative;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.picture i.fa-circle-user {
    font-size: 120px;
    color: skyblue;
    margin: 5px auto;
}

.profile-pic .fa-camera {
    font-size: 20px;
    color: black;
    margin: auto;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.fa-pencil {
    color: #504f4f;
}

.profile-pic span.username {
    display: flex;
    width: 43%;
    margin: auto;
}

.username p {
    margin: 0 10px 0 0;
}

.profile-pic p {
    color: #5e5e5e;
}

.user-info li {
    padding: 5px 0;
    justify-content: space-between;
    color: #5e5e5e;
    margin: 0;
}

.user-profile button {
    padding: 8px 15px;
    background: #DF1B3F;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins';
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.banner {
    width: 100%;
    height: 130px;
    background-color: #d3d2d2;
    text-align: center;
    position: relative;
    z-index: 1;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.changeable-picture {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 20px;
    text-align: center;
    z-index: 2;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.change-picture-button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.event-info-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.event-details {
    flex: 1;
}

.event-details-right {
    flex: 1;
    text-align: right;
}

.event-details p,
.event-details-right p {
    margin: 5px 0;
}

.event-details-right p {
    text-align: right;
}

.tournaments {
    margin-top: 20px;
}

.tournaments h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tournament-box {
    display: flex;
}

.square-box {
    width: 250px;
    padding: 10px;
    background-color: #fffcfc;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: left;
}

.square-box h3 {
    font-size: 20px;
    margin-top: 0;
}

.square-box p {
    margin: 5px 0;
}
